.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 50px;
}
.cart-container{
    margin-top: 80px;
}

.proceed-link {
    text-decoration: none;
}

.btn-proceed{
    background-color: #FF9900;
    height: 45px;
    width: 100%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    border-radius: 4px;
    color: white;
}